@import url("/js/font-awesome-4.6.3/css/font-awesome.min.css");

.blog-body-header
{
  position: fixed;
  display: block;
  top: 0px;
  left: 300px;
  padding-left: 40px;
  z-index: 1;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.blog-body-header a
{
  float: left;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0px 15px 0 15px;
  margin-left: -15px;
  color: #ccc;
}

.blog-body-header a:active,a:hover {
  color: #444;
}

a.blog-body-header-title
{
  float: none;
  position: relative;
  left: -40px;
  text-align: center;
  text-decoration: none;
  color: #444;
  z-index: -1;
}
