<!--

Comm(ent|it)评论加载

https://commentit.io/

-->

{% if site.commentFlag %}
    <!-- 历史评论列表 -->
    {%if site.data.datafileComments[page.id] %}
      {% assign sorted_comments = (site.data.datafileComments[page.id] | sort: 'date') %}
    {% endif %}
    {% for c in sorted_comments %}
      <div id="commentitList" class="media">
        <div class="media-left">
          <img src="{{ c.author.picture }}" alt="{{ c.author.displayName}}">
        </div>
        <div class="media-body">
          <p class="text-muted">
            <a href="{{ c.author.url }}">{{ c.author.displayName }}</a>
            on {{ c.date | date_to_string }}
          </p>
          <p>{{ c.content | newline_to_br }}</p>
        </div>
      </div>

      <script type="text/javascript">
        (function() {
            document.getElementById('disqus_thread').appendChild(document.getElementById('commentitList'));
        })();
      </script>
    {% else %}
      There are no comments on this post.
    {% endfor %}

    <!-- 发表评论 -->
    <noscript>Please enable JavaScript to view the comment form powered by <a href="https://commentit.io/">Comm(ent|it)</a></noscript>
    <div id="commentit"></div>
    <script type="text/javascript">
      /** CONFIGURATION VARIABLES **/
      var commentitUsername = '{{ site.commentitUsername }}';
      var commentitRepo = '{{ site.commentitRepo }}';
      var commentitId = '{{ page.id }}';
      var commentitDatafile = 'datafileComments';

      /** DON'T EDIT FOLLOWING LINES **/
      (function() {
          var commentit = document.createElement('script');
          commentit.type = 'text/javascript';
          commentit.async = true;
          commentit.src = 'https://commentit.io/static/embed/dist/commentit.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(commentit);

          document.getElementById('disqus_thread').appendChild(document.getElementById('commentit'));
      })();
    </script>
{% endif %}
